[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/auth"]
	path = modules/auth
	url = git://github.com/kohana/auth.git
[submodule "modules/cache"]
	path = modules/cache
	url = git://github.com/kohana/cache.git
[submodule "modules/codebench"]
	path = modules/codebench
	url = git://github.com/kohana/codebench.git
[submodule "modules/image"]
	path = modules/image
	url = git://github.com/kohana/image.git
[submodule "modules/oauth"]
	path = modules/oauth
	url = git://github.com/kohana/oauth.git
[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/kohana/orm.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git://github.com/kohana/pagination.git
[submodule "modules/unittest"]
	path = modules/unittest
	url = git://github.com/kohana/unittest.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = git://github.com/kohana/userguide.git
[submodule "modules/cl4"]
	path = modules/cl4
	url = git@github.com:claerosystems/cl4.git
[submodule "modules/cl4auth"]
	path = modules/cl4auth
	url = git@github.com:claerosystems/cl4auth.git
[submodule "modules/cl4base"]
	path = modules/cl4base
	url = git@github.com:claerosystems/cl4base.git
[submodule "modules/cl4admin"]
	path = modules/cl4admin
	url = git@github.com:claerosystems/cl4admin.git
[submodule "html/cl4"]
	path = html/cl4
	url = git@github.com:claerosystems/cl4docroot.git
[submodule "modules/xmmedia"]
	path = modules/xmmedia
	url = git@github.com:xmmedia/kohana_module.git
[submodule "html/xm"]
	path = html/xm
	url = git@github.com:xmmedia/kohana_module_docroot.git
