.basic_nav {
	float: left; height: 28px; position: relative; width: auto; z-index: 500;
	ul { margin: 0; height: 25px; padding: 0; }
	li {
		float: left; height: auto; margin: 0; padding: 0 15px 0 0; list-style: none; height: 38px;
		a { display: block; padding: 5px 15px 5px 0; color: #484848; text-decoration: none; }
		&:hover a { color: #969696; }
	}
}