/** nav **/
/* currently select nav items */
%top_nav_item_current { border-top: 2px solid #dd4b39; border-right: none; border-left: none; font-weight: bold; color: #fff; padding-top: 6px; }
$nav_items: index home, admin dbadmin, content_admin dbadmin, user_admin dbadmin, cl4admin dbadmin, login login, account login;
@each $nav_item in $nav_items {
	$page_class: nth($nav_item, 1);
	$nav_class: nth($nav_item, 2);
	.p_#{$page_class} .top_nav_wrapper nav ul > li.#{$nav_class} > a { @extend %top_nav_item_current; }
}
/* for the menu items that have sub menus, so when they are clicked when they are also the current one, the main item doesn't stay white */
%sub_top_nav_current { color: #0645ad; }
$sub_nav_items: admin dbadmin, contact_admin dbadmin, user_admin dbadmin, cl4admin dbadmin;
@each $nav_item in $nav_items {
	$page_class: nth($nav_item, 1);
	$nav_class: nth($nav_item, 2);
	.p_#{$page_class} .top_nav_wrapper nav ul > li.#{$nav_class} > a.clicked { @extend %sub_top_nav_current; }
}

/** top nav **/
.top_nav_wrapper {
	width: 100%; background: #2d2d2d; border-bottom: 1px solid #000; height: 29px; white-space: nowrap; font-size: 0.9em;
	nav {
		width: 960px; margin: 0 auto;
		ul {
			list-style: none; position: absolute; padding: 0;
			&.left { left: 0; margin: 0 0 0 4px; }
			&.right { right: 0; margin: 0 10px 0 0; }
			li {
				float: left; margin: 0; padding: 0; text-align: left;
				> a {
					display: block; color: #ccc; text-decoration: none; padding: 7px 8px 7px 8px; border: 1px solid transparent; border-bottom: none;
					&:hover { background-color: #4c4c4c; }
					&.clicked {
						color: #0645ad;
						background-color: #fff;
						border: 1px solid #bebebe;
						border-bottom: none;
					}
				}
			}
		}
		.more {
			/* the down arrow */
			position: relative;
			top: -1px;
			border-style: solid dashed dashed;
			border-color: transparent;
			border-top-color: #c0c0c0;
			display: -moz-inline-box;
			display: inline-block;
			font-size: 0;
			height: 0;
			line-height: 0;
			width: 0;
			border-width: 3px 3px 0;
			padding-top: 1px;
			margin-right: 3px;
			left: 4px;
		}
	}
	.sub_nav {
		visibility: hidden;
		position: absolute;
		float: left;
		z-index: 2000;
		border: 1px solid #bebebe;
		border-top: 1px solid #fff;
		background-color: #fff;
		margin: 0;
		li {
			float: none;
			a {
				float: none; color: #0645ad;
				&:hover { background-color: #ececec; }
			}
		}
	}
}