@import "compass", "_vars", "_media", "_normalize", "_cl4_mixins", "_xm_helpers", "_clearfix";

*, *:after, *:before { @include box-sizing(border-box); }
.clearfix { @extend %clearfix; }

@import "jquery-ui";

/** cl4 mixins **/
$debug_msg_img: image-url('/cl4/images/message-debug.gif', false, false);

$cl4_icons-layout: smart;
$cl4_icons-sprite-dimensions: true;
@import "cl4_icons/*.png";

$cl4_arrows-layout: smart;
$cl4_arrows-sprite-dimensions: true;
@import "cl4_arrows/*.png";

$cl4_file_types-layout: smart;
$cl4_file_types-sprite-dimensions: true;
@import "cl4_file_types/*.png";

@include cl4_all();
/* end cl4 mixins */

body, input { font-family: Arial, Helvetica, sans-serif; font-size: 0.8em; }
input { font-size: 0.9em; }
input, select { margin: 2px; }
h1 {
	margin: 1.5em 0 0.4em 0;
	&:first-of-type { margin-top: 0; }
}
h2 { margin: 1.2em 0 0.4em 0; }
h3, h4, h5, h6 { margin: 1.7em 0 0.1em 0; }
p { margin: 1.3em 0; }
address { font-style: normal; }
label { cursor: pointer; }
td { vertical-align: top; }
img, object, embed { max-width: 100%; }
img { height: auto; }
nav ul { list-style: none; }

/** commonly used styles **/
.cl4_message { color: #000; padding: 0; }
.labels_above {
	label { display: block; margin-top: 8px; }
	.radios {
		label { display: inline; padding-right: 1.5em; }
		input { margin-right: 0.5em; }
	}
}
.hidden { display: none; }
.text_center { text-align: center; }
.text_left { text-align: left; }
img {
	&.right { float: right; margin-bottom: 10px; margin-left: 10px; }
	&.left { float: left; margin-right: 10px; margin-bottom: 10px; }
}

@import "_debug";
@import "_grid";