@import "compass", "_vars", "_media", "normalize", "_cl4_mixins", "_xm_helpers";

*, *:after, *:before { @include box-sizing(border-box); }

@import "jquery-ui";

/** cl4 mixins **/
$debug_msg_img: image-url('cl4/message-debug.gif', false, false);

$cl4_icons-layout: smart;
$cl4_icons-sprite-dimensions: true;
@import "cl4_icons/*.png";

$cl4_arrows-layout: smart;
$cl4_arrows-sprite-dimensions: true;
@import "cl4_arrows/*.png";

$cl4_file_types-layout: smart;
$cl4_file_types-sprite-dimensions: true;
@import "cl4_file_types/*.png";

@include cl4_all();
/* end cl4 mixins */

body, input { font-family: Arial, Helvetica, sans-serif; font-size: 0.8em; }
input { font-size: 0.9em; }
input, select { margin: 2px; }
h1 { margin: 1.5em 0 0.4em 0; }
h1:first-of-type { margin-top: 0; }
h2 { margin: 1.2em 0 0.4em 0; }
h4, h5, h6 { margin: 0.1em 0 0.2em 0; }
p { margin: 10px 0; }
address { font-style: normal; }
label { cursor: pointer; }
td { vertical-align: top; }
img, object, embed { max-width: 100%; }
img { height: auto; }
nav ul { list-style: none; }

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/** commonly used styles **/
.cl4_message { color: #000; padding: 0; }
.labels_above label { display: block; margin-top: 8px; }
.labels_above .radios label { display: inline; padding-right: 1.5em; }
.labels_above .radios input { margin-right: 0.5em; }
.clear { clear: both; }
.clear_spacer { clear: both; margin-bottom: 20px; height: 1px; }
.clear_spacer_small { clear: both; margin-bottom: 10px; height: 1px; }
.hidden { display: none; }
.text_center { text-align: center; }
.text_left { text-align: left; }
img.right { float: right; margin-bottom: 10px; margin-left: 10px; }
img.left { float: left; margin-right: 10px; margin-bottom: 10px; }

/** development related styles **/
#kohana_profiler { margin-top: 20px; min-width: 850px; }
.debug { text-align: left; background-color: transparent; }
.debug code { background-color: transparent; }
.development_msg {
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	padding: 5px 0;
	border-bottom: 1px solid #333;
	background-color: #edb737;
	font-weight: bold;
	letter-spacing: 1px;
	color: #000;
}

/** grid **/
/* based off of http://css-tricks.com/dont-overthink-it-grids/ */
.grid {
	background: #ddd; /* probably remove, for demo purposes */
	padding: $grid_pad $grid_pad 0 $grid_pad;
	max-width: $max_width;
	min-width: $min_width;
	margin: 0 auto 0 auto;

	&:after {
		content: "";
		display: table;
		clear: both;
	}

	@include respond_to(wide-handhelds) { width: 100%; min-width: 0; }
}
.col, [class*='col-'] {
	float: left;
	padding-left: $grid_pad;
	.grid &:first-child {
		padding-right: 0;
	}

	@include respond_to(wide-handhelds) { float: none; width: auto; }
}
/* Opt-in outside padding */
.grid_pad {
	padding: $grid_pad $grid_pad $grid_pad 0;
	[class*='col-']:first-child {
		padding-left: $grid_pad;
	}
}

/* some default columns */
.col { width: 100%; }
.col-2-3 { width: 66.66%; }
.col-1-3 { width: 33.33%; }
.col-1-2 { width: 50%; }
.col-1-4 { width: 25%; }
.col-1-8 { width: 12.5%; }

/* a default module setup for demo purposes */
.module {
	padding: $grid_pad;
	background: #eee;
}