@import "_vars", "_media", "_normalize", "_xm_mixins", "_xm_helpers", "_clearfix";

*, *:after, *:before { box-sizing: border-box; }
.clearfix { @extend %clearfix; }

/** xm mixins **/
$debug_msg_img: url('/xm/images/message-debug.gif');
@include xm_all();
/* end xm mixins */

html, input { font-family: Arial, Helvetica, sans-serif; font-size: 0.8em; }
input { font-size: 0.9em; }
input, select { margin: 0.2em; }
input[type=radio], input[type=checkbox] { margin-right: 0.5em; }
h1 {
	margin: 1.5em 0 0.4em 0;
	&:first-of-type { margin-top: 0; }
}
h2 { margin: 1.2em 0 0.4em 0; }
h3, h4, h5, h6 { margin: 1.7em 0 0.1em 0; }
p { margin: 1.3em 0; }
address { font-style: normal; }
label { cursor: pointer; }
td { vertical-align: top; }
img, object, embed { max-width: 100%; }
img { height: auto; }
nav ul { list-style: none; }

/** commonly used styles **/
.xm_message { color: #000; padding: 0; }
.labels_above {
	label { display: block; margin-top: 0.5em; }
	.radios {
		label { display: inline; padding-right: 1.5em; }
		input { margin-right: 0.5em; }
	}
}
.hidden { display: none; }
.text_center { text-align: center; }
.text_left { text-align: left; }
.text_right { text-align: right; }
img {
	&.right { float: right; margin-bottom: $grid_pad; margin-left: $grid_pad; }
	&.left { float: left; margin-right: $grid_pad; margin-bottom: $grid_pad; }
}

@import "_debug", "_grid";