@import "compass", "_vars", "_media", "_cl4_mixins", "_xm_helpers";

#wrapper { min-width:940px; }
#main_content { max-width:inherit; min-width:960px; width:inherit; }
.page_top { max-width:90%; }
.nav_wrapper { max-width:90%; }