@import "_vars", "_media", "../../xm/css/sass/_xm_mixins", "../../xm/css/sass/_xm_helpers", "_clearfix";

#wrapper { min-width: 940px; }
#main_content { max-width: inherit; min-width: 960px; width: inherit; }
.page_top { max-width: 90%; }
.nav_wrapper { max-width: 90%; }