@import "compass", "_vars", "_media", "_xm_mixins", "_xm_helpers", "_clearfix";

@import "_jquery-ui", "_glyphicons";

a { color: #2b82cb; }

/** general formatting / containers **/
header { border-bottom: 1px solid #dfdfdf; margin-bottom: 0.6em; }
#wrapper { padding: 0 1em; background-color: #fff; text-align: left; }
#main_content { margin: 0 auto; width: 960px; }
footer {
	height: 7em;
	margin-top: 2.5em;
	padding: $grid_pad;
	font-size: 0.8em;
	color: #777;
	background: #ebebeb;
	text-align: left;
	nav { float: left; }
	.footer_links { float: right; }
	a {
		color: #777; text-decoration: none;
		&:hover { text-decoration: underline; }
	}
}

/** the following are styles to create some formatting and are not quite as "required" as the above styles **/
/** header **/
.page_top {
	@extend %clearfix;
	width: 960px; height: 4em; margin: 0 auto;
	.page_top_logo {
		@extend %clearfix;
		float: left; margin: 1em 0 0 1em; font-size: 1.3em; font-weight: bold;
		@include respond_to_min(wide_tablets) {
			margin-left: 0;
		}
		a { display: block; color: #777; text-decoration: none; }
	}
}

@import "_private_nav", "_login", "_tinymce";