@import "compass", "_vars", "_media", "_xm_mixins", "_xm_helpers", "_clearfix";

@import "jquery-ui";

/** general formatting / containers **/
header { border-bottom: 1px solid #dfdfdf; margin-bottom: 10px; }
#wrapper { padding: 15px; background-color: #fff; text-align: left; }
#main_content { margin: 0 auto; width: 960px; }
footer {
	height: 80px; margin-top: 30px; padding: 10px; font-size: 0.8em; color: #777; background: #ebebeb; text-align: left;
	.footer_content { margin: 0 auto; width: 960px; text-align: left; padding-top: 30px; }
	.footer_links { float: right; }
	a {
		color: #777; text-decoration: none;
		&:hover { text-decoration: underline; }
	}
}

/** the following are styles to create some formatting and are not quite as "required" as the above styles **/
/** header **/
.page_top {
	@extend %clearfix;
	width: 960px; height: 4em; margin: 0 auto;
	.page_top_logo {
		@extend %clearfix;
		float: left; margin: 1em 0 0 1em; font-size: 1.3em; font-weight: bold;
		@include respond_to_min(wide_tablets) {
			margin-left: 0;
		}
		a { display: block; color: #777; text-decoration: none; }
	}
}

@import "_private_nav", "_login", "_tinymce";