@import "compass", "_vars", "_media", "_cl4_mixins", "_xm_helpers", "_clearfix";

nav ul { padding-left: 0; }

/** general formatting / containers **/
header {
	margin-bottom: 1em;
	nav li { float: left; margin-right: $grid_pad * 1.5; }
}

footer {
	height: 80px;
	margin-top: 30px;
	padding: 10px;
	font-size: 0.8em;
	color: #777;
	background: #ebebeb;
	text-align: left;
}