@import "_vars", "_media", "../../xm/css/sass/_xm_mixins", "../../xm/css/sass/_xm_helpers", "_clearfix";

nav ul { padding-left: 0; }

/** general formatting / containers **/
header {
	margin-bottom: 1em;
	nav li { float: left; margin-right: $grid_pad * 1.5; }
}

footer {
	height: 7em;
	margin-top: 2.5em;
	padding: $grid_pad;
	font-size: 0.8em;
	color: #777;
	background: #ebebeb;
	text-align: left;
}