/** general formatting / containers **/
header { border-bottom:1px solid #dfdfdf; margin-bottom:10px; }
#wrapper { padding:15px; background-color:#fff; text-align:left; }
#main_content { margin:0 auto; width:960px; }
footer { height:80px; margin-top:30px; padding:10px; font-size:0.8em; color:#777; background:#ebebeb; text-align:left; }
footer .footer_content { margin:0 auto; width:960px; text-align:left; padding-top:30px; }
footer .footer_links { float:right; }
footer a { color:#777; text-decoration:none; }
footer a:hover { text-decoration:underline; }

/** the following are styles to create some formatting and are not quite as "required" as the above styles **/
/** header **/
.page_top { margin:0 auto; width:960px; position:relative; height:52px; }
.page_top_logo { float:left; margin:20px 0 0 -4px; font-size:1.3em; font-weight:bold; }
.page_top_logo a { display:block; color:#777; text-decoration:none; }
.company_logo { float:right; }
.page_top_user_info { float:right; margin:0; color:#969696; }
.language_options { float:right; margin:10px 15px 0 0; color:#bbb; height:1em; }
.language_options .language_label { color:#999; }
.language_options a { color:#777; text-decoration:none; }
.language_options a:hover { text-decoration:underline; }

/** login box formatting, used on login, forgot password and timed out **/
.login_box {
	margin:20px auto 0 auto;
	border:1px solid #dfdfdf;
	width:400px;
	padding:0 20px 20px 20px;
}
.boxshadow .login_box {
	border:1px solid #fff;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	-moz-box-shadow:0 0 15px #757171;
	-webkit-box-shadow:0 0 15px #757171;
	box-shadow:0 0 15px #757171;
}
.login_box .cl4_form, .login_box .cl4_form li ul { margin:0; }
.login_box .cl4_form li ul li { display:block; float:none; width:150px; }
.login_box .cl4_form li ul li.field_label { margin-top:15px; width:400px; }
.login_box .cl4_form li ul li.field_value input { font-size:1.2em; width:390px; }
.login_button { font-size:1.2em; }
.login_box .forgot_link { float:right; }