/**** additional styles that are not just defaults, but include some formatting ****/
/** major container elements **/
#wrapper { width: 955px; margin: 0 auto; padding: 0 0 15px 0; background-color: #fff; text-align: left; }
#main_content { min-height: 400px; }
/* in the cl4 template this is a div as it's unimportant for SEO and there should only be 1 h1 on a page */
.app_name {
	width: 955px;
	text-align: center;
	margin-top: 5px;
	font-size: 1.2em;
	padding: 4px 0;
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
	color: #fff;
	background-color: #000;
}

/** primary navigation **/

.primary_nav ul { margin: 10px 20px; }
.primary_nav ul li { float: left; padding: 0; list-style-type: none; }
.primary_nav ul li a, .primary_nav ul li a:visited, .primary_nav ul li a:active { padding: 0 7px; border-right: 1px solid #333; color: #00f; text-decoration:none; }
.primary_nav ul li a:hover { color:#000; text-decoration: underline; }
.primary_nav ul li.last { padding-left: 5px; }
.primary_nav ul li.last a { border: none; }
.primary_nav ul li.language a { padding: 0; }

.private_nav ul { margin: 10px 20px; }
.private_nav ul li {float:left; width:auto; position:relative; padding:0; vertical-align:text-bottom;list-style-type:none;}
.private_nav ul li a {padding-right:7px; padding-left:7px; border-right:1px solid #333; color:#00f; }
.private_nav ul li.last {padding-left:5px;}
.private_nav ul li.last a {padding:0; border:0;}
.private_nav ul li a {color:#f00; font-size:10px;}
.private_nav ul li a:link, .private_nav ul li a:visited, .private_nav ul li a:active {font-weight:normal; color:#f00; text-decoration:none;}
.private_nav ul li a:hover {color:#000; text-decoration:none;}
.private_nav ul li.welcome_name { }
*/
/** development related styles **/
#kohana_profiler { margin-top: 20px; }
.development_msg {
	width: 100%;
	text-align: center;
	margin-top: 5px;
	font-size: 1em;
	padding: 2px;
	border: 1px solid #555;
	border-right: none;
	border-left: none;
	background-color: #ff6;
	font-weight: bold;
	letter-spacing: 1px;
}


/** plus **/

td { font-size:0.8em; }

h1, h2, h3, h4, h5 { color: #b2a07c; }
h1 { font-size: 2em; font-weight: normal; margin-bottom: 5px; }
h1 a, h2 a, h3 a, h4 a {text-decoration:none;}
h1 a:link, h1 a:visited, h1 a:active { color: #ff6600; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover { color:#c63; }
h2, h2 a:link, h2 a:visited, h2 a:active { font-size: 1.6em; font-weight: normal; color: #ada17a; margin: 15px 0px; }
h3, h3 a:link, h3 a:visited, h3 a:active { font-size: 1.4em; font-weight: normal; color: #555; margin: 10px 0px; }
h4, h4 a:link, h4 a:visited, h4 a:active { font-size: 1.2em; font-weight: normal; color: #666; margin: 10px 0px; }

hr {height:1px; width:100%; color:#b0a279;}

.highlight {font-weight:bold;}
.grey, .grey a:link, .grey a:active, .grey a:visited {color:#333}
.smallGrey {font-size:12px; color:#333;}
.message {margin:10px 25px 5px 25px;}
.errorMessage { font-size:14px; font-weight:bold; color:#c71209; margin:5px; padding:5px; border:2px dashed #f00; }
.pleaseWait { font-size:14px; font-weight:bold; color:#f00; margin:5px; padding:5px; border:1px dashed #666; padding-left:25px; background: url(/images/indicator.gif) no-repeat 5px 5px; }
.controlRow {margin:2px 0px 2px 0px; padding:6px 2px 6px 2px; border-top:1px #ccc solid; border-bottom:1px #ccc solid;}
.controlRow ul {list-style-type:none; margin:0; padding:0;}
.controlRow li {display:inline; padding:0px 15px 0px 15px;}



/* main body layout styles */



/* header styles */
header {margin-bottom:10px;}
aside#loggedIn {height:12px; width:600px; border-top:1px solid #ccc; font: 0.8em Arial Narrow, Arial, sans-serif; text-align:right; color:#777;}

/* primary menu */


/* "for authenticated users" menu */


/* highlight current section */
body.s_home nav.primary li.home a, body.s_about nav.primary li.about a, body.s_news nav.primary li.news a, body.s_contact nav.primary li.contact a {color:#000;}

/* language switcher */
.language {color: #d7d2bc;}
.language a:link, .languageSwitch a:visited, .languageSwitch a:active {color:#ffff99; text-decoration:underline;}
.language a:hover {color:#fff; text-decoration:underline;}

/* footer styles */
footer {min-height:72px; padding:40px 10px 0px 20px; font-size:12px; color:#333;}
footer a:link, footer a:visited, footer a:active {font-weight:normal; color:#333; text-decoration:none;}
footer a:hover {color:#000; text-decoration:none;}
div#kohana-profiler {margin-top:20px;}

/* default form styles */
/*input[type="text"], input[type="password"], textarea {width:195px; font-size:14px; padding:5px; margin: 5px 2px 5px 2px; border:1px solid #CCCCCC; -moz-box-shadow:inset 0 0 10px 0px #eeeeee;}*/
input[type="button"], input[type="submit"], input[type="reset"] {font-size:14px; } /* this doesn't work in < IE9 */
select {font-size:14px;}
textarea { width:100%; height:150px;}
input.date {width:150px;}
input.title {width:350px;}
input.tags {width:90%;}
.editFormContainer {padding:10px;}
input.metaField {width:100%;}
form.editForm label {display:block; padding:5px; height:17px; width:250px; float:left;}
form.editForm label.line {display:inline; width:auto; float:none;}
form.editForm textarea {width:100%; height:300px;}
form.editForm input[type="text"], form.editForm input[type="password"] {width:400px;}
form.editForm select {width:350px;}
form.editForm checkbox {width:10px; height:10px;}

/* claero content admin stuff */
table#claeroEdit {width:600px;}
table#claeroContent th.column0, table#claeroContent td.column0 {width:100px;}
div.tableMenu {margin:0px 20px 0px 20px;}
form#claeroForm {width:600px; margin:15px; padding:15px; border:1px dashed #ccc;}
form#claeroForm input,form#claeroForm select {width:auto;}
form#claeroForm textarea {width:90%; height:150px;}