/** standard html tags **/
html { overflow-y:scroll; overflow:-moz-scrollbars-vertical; } /* always show vertical scrollbar in firefox and ie8 */
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.8em;
	text-align:center;
	color:#000;
	margin:0;
	padding:0;
	background:#fff;
}
p { margin:10px 0; }
h1, h2, h3, h4, h5, h6 { margin:10px 0 7px 0; font-weight:bold; }
h1 { font-size:2em; }
h2 { font-size:1.7em; }
h3 { font-size:1.4em; }
h4 { font-size:1.2em; }
h5 { /* normal font size */ }
h6 { font-size:0.7em; }

/* list styles */
ol.no_style, ul.no_style { list-style-type:none; margin:0; padding:0; }
ol, ul { margin:10px 10px 10px 40px; }
li { margin:5px 0; }
ol { list-style:decimal; }
ul { list-style:disc; }

/** tables styles **/
table tr td, td.align_top { vertical-align:top; }

/** other element styles -- brings back the default styling after the CSS reset **/
em { font-style:italic; }
strong { font-weight:bold; }
small { font-size:0.9em; }
label { cursor:pointer; }

/** align radio, labels, forms **/
input[type="radio"] { vertical-align:text-bottom; }
input[type="checkbox"] { vertical-align:text-bottom; *vertical-align:baseline; }
.ie6 input { vertical-align:text-bottom; }

/** commonly used styles **/
.clear { clear:both; }
.hidden { display:none; }
.center { text-align:center; }

/** development related styles **/
#kohana_profiler { margin-top:20px; min-width:850px; }
.debug { text-align:left; }
.development_msg {
	width:100%;
	text-align:center;
	font-size:1.2em;
	padding:5px 0;
	border-bottom:1px solid #333;
	background-color:#edb737;
	font-weight:bold;
	letter-spacing:1px;
	color:#000;
}

/** basic nav **/
.basic_nav { float:left; height:28px; position:relative; width:auto; z-index:500; }
.basic_nav ul { margin:0; height:25px; }
.basic_nav li { float:left; height:auto; margin:0; padding:0 15px 0 0; list-style:none; height:38px; }
.basic_nav li a { display:block; padding:5px 15px 5px 0; color:#484848; text-decoration:none; }
.basic_nav li:hover { }
.basic_nav li:hover a { color:#969696; }