section.claeroDisplay {overflow-x:auto;}


/* for striping */
tr.even td { background-color:#e6e6e6; }
tr.odd td { background-color:#fff; }

/* row action button formatting */
a.add, a.edit, a.delete, a.calendar, a.view, a.magnify, a.checkbox, a.nocheckbox, a.check, a.download, a.top, a.printer, a.email, a.pdf {
    border: 0px;
    padding-left: 16px;
    padding-top: 2px;
    text-decoration: none;
    background: url('/images/cl4_icons.png') no-repeat top left;
    /*line-height:16px;*/
}
a.add { background-position: 0px -80px; }
a.add:hover { background-position: 0px -128px; }
a.edit { background-position: 0 -1557px; }
a.edit:hover { background-position: 0 -1605px; }
a.delete { background-position: -167px -746px; }
a.delete:hover  { background-position: -167px -794px; }
a.calendar { background-position: 0 -218px; }
a.view { background-position: 0 -1030px; }
a.view:hover { background-position: 0 -1078px; }
a.magnify { background-position: 0 -1221px; }
a.checkbox { background-position: 0 -362px; }
a.nocheckbox { background-position: 0 -1365px; }
a.check { background-position: 0 -314px; }
a.download { background-position: 0 -500px; }
a.top { background-position: -167px -410px; }
a.printer { background-position: 0 -1845px; }
a.printer:hover { background-position: 0 -1893px; }
a.pdf { background-position: 0 -31px; }
a.email { background-position: 0 -597px; }
a.email:hover { background-position: 1px -645px; }

a.imgLink, span.emptyLink {
    font-size: 10pt;
    border: 0px;
    padding-left: 16px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center left;
}

span.emptyLink { padding-left: 19px; }

/** jquery date picker customizations **/
.ui-datepicker-trigger { padding-left:3px; margin-bottom:-5px; }
.ui-datepicker-append { font-size:11px; color:#888; padding-left:3px; }

/* main page buttons row, appears above the search results and has the add, edit multiple, search, etc. buttons */
#claeroTools { background-color: #EDF8CA; border: 1px solid #ccc; padding: 2px; margin: 4px 0; }

.stop { padding-left:18px; background: url('/images/cl4_icons.png') no-repeat -167px -173px; }

input.cSmallButton { font-family: Arial, Helvetica, sans-serif; font-size: xx-small; }

.noborder { border: 0 !important; }

img.icon { border: none; vertical-align: middle; }

table.file tbody tr td { border: none; }

.info { color: #aaa; }
span.checked { padding-left: 18px; background: url('/images/cl4_icons.png') no-repeat 0 -314px; }
span.cUnknown { color: #bbb; }
span.requiredLabel { color: red; font-weight: bold; }
span.label { font-weight: bold; color: #635959; }

form.confirm { padding-top: 0; margin-top: 0; padding-bottom: 0; margin-bottom: 0; }

.claeroEdit tbody tr td.column0 {
    border-left: 1px solid #d6d6d6;
}
.claeroEdit tbody tr.row0 td.column0,
.claeroEdit tbody tr.row0 td.column1,
.claeroEdit tbody tr.row0 td.column2,
.claeroEdit tbody tr.row0 td.column3,
.claeroEdit tbody tr.row0 td.column4,
.claeroEdit tbody tr.row0 td.column5,
.claeroEdit tbody tr.row0 td.column6,
.claeroEdit tbody tr.row0 td.column7,
.claeroEdit tbody tr.row0 td.column8,
.claeroEdit tbody tr.row0 td.column9,
.claeroEdit tbody tr.row0 td.column10 {
    border-top: 1px solid #d6d6d6;
}
.claeroEdit td.spacer {
    border: none;
}

.claeroEdit tbody tr.cTableHeading td {
    border-top:#d6d6d6;
    border-left:#d6d6d6;
    border-right:#d6d6d6;
    padding: 5px 3px;
    background-color: #184A8C;
    font-weight:bold;
    color:#fff;
}

.claeroEdit tbody tr.headerRow td {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    text-align: left;
    background-color: #386eb4;
    padding: 4px;
    padding-right: 12px;
}

.claeroContent {
    margin-top: 4px;
    border: 1px solid #ccc;
    border-bottom: none;
    width: 100%;
}
.claeroContent thead tr th {vertical-align:bottom;}
.claeroContent thead tr th,
.claeroContent tbody tr td,
.claeroEdit thead tr th,
.claeroEdit tbody tr td {
    padding: 2px;
    border-bottom: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    padding-left: 4px;
    font-size: 12px;
}
.claeroContent thead tr th {
    text-align: left;
    background-color: #184A8C;
    padding: 4px;
    border-left: 1px solid #6385B1;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-right: 12px;
    border-top: 1px solid #6385B1;
    background-position: center right;
    color: #fff;
}
.claeroContent thead tr th.sortASC {
    background-color: #6385B1;
    background-image: url(/images/asc.png);
    background-repeat: no-repeat;
    /* not ready yet: background: url('/images/cl4_icons.png') no-repeat 0 -176px; */
}
.claeroContent thead tr th a { font-weight: bold; text-decoration: none; color: #fff; }
.claeroContent thead tr th.sortDESC {
    background-color: #6385B1;
    background-image: url(/images/desc.png);
    background-repeat: no-repeat;
    /* not ready yet: background: url('/images/cl4_icons.png') no-repeat 0 -458px; */
}
.claeroContent tbody tr td.sortDESC,
.claeroContent tbody tr td.sortASC {
    background-image: url(/images/checker.png);
    background-repeat: repeat;
}
.claeroContent tbody tr td.multipleHeader { padding: 8px; background-color: #B4C9E3; }

.claeroContent thead tr th.column0 {
    text-align: right;
    padding-right:2px;
}

.claeroContent .column0 {
    text-align: right;
}

div.cStatus {
    background-color: #FFFFD4;
    padding: 2px;
    border: 1px solid #EFEF49;
    padding-left: 22px;
    padding-right: 20px;
    background: url('/images/cl4_icons.png') no-repeat -164px -598px;
    color: #91912C;
    margin-top: 4px;
    margin-bottom: 8px;
}

div.cStatus h1 {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 9pt;
    font-weight: normal;
}
div.cStatus h1 a { text-decoration: none; color: #A3912C; font-weight: normal; }

div#affectedRecords {
    margin-top: 8px;
    margin-left: 18px;
    border-top: 1px solid #A3912C;
    padding-top: 8px;
}

div.cStatus h2 {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #EFEF49;
    font-weight: bold;
    padding-left: 18px;
    font-size: larger;
    background-image: url(/images/table.png);
    background-repeat: no-repeat;
    background-position: center left;
}

div.cStatus span.info { color: #CC6646; }
div.cStatus dl { margin: auto; }
div.cStatus dt {  display: inline; }
div.cStatus dd { padding-left: 0; margin-left: 0; display: inline; color: #E0A37F; }
div.cStatus p { padding-bottom: 0; padding-top: 0; margin-top: 0; margin-bottom: 2px; }
div.cStatus ul {
    padding-top: 4px;
    margin-top: 0;
    margin-left: 0;
    padding-left: 4px;
}
div.cStatus ul li {
    list-style: none;
    margin-left: 18px;
    padding-left: 18px;
    margin-top: 0;
    padding-top: 0;
    background-position: center left;
    background-repeat: no-repeat; }
div.cStatus span.info a { color: #CC6646; }
div.cStatus ul li.none { background-image: none; }

*.update { background-image: url(/images/pencil.png); }
*.delete { background-image: url(/images/x.png); }
span.update, span.delete { padding-left: 18px; }

ul.tables { padding-left: 0; margin-left: 0; }
ul.tables li { list-style-type: none; display: inline; padding-right: 8px; }
ul.tables li a {
    text-decoration: none;
    color: #595959;
    font-weight: bold;
    background-image: url(/images/table.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}
ul.tables li a:hover { background-image: url(/images/table_hover.png); color: #0072BC; }
ul.tables li.current a { color: #184A8C; }

div.claeroNav {
    margin: 4px 0 4px 0;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 3px;
    color: #184A8C;
    height:16px;
    font-size:12px;
}
div.claeroNav select { font-size:9px; }

span.claeroNav {
    float:left;
}

span.claeroNav span.noPrevious,
span.claeroNav a.previous,
span.claeroNav a.previous:hover,
span.claeroNav span.noNext,
span.claeroNav a.next,
span.claeroNav a.next:hover {
    padding-bottom: 1px;
    background-repeat: no-repeat;
}

span.claeroNav span.noPrevious {
    background: url('/images/cl4_icons.png') no-repeat 0 -1461px;
    padding-left: 18px;
}

span.claeroNav a.previous {
    background: url('/images/cl4_icons.png') no-repeat 0 -1701px;
    padding-left: 18px;
}

span.claeroNav a.previous:hover {
    background: url('/images/cl4_icons.png') no-repeat 0 -1749px;
}

span.claeroNav span.noNext {
    background: url('/images/cl4_icons.png') no-repeat 30px -1413px;
    padding-right: 18px;
}

span.claeroNav a.next {
    background: url('/images/cl4_icons.png') no-repeat 30px -1269px;
    padding-right: 18px;
}

span.claeroNav a.next:hover {
    background: url('/images/cl4_icons.png') no-repeat 30px -1317px;
}

div.noRows {
    border:#d6d6d6 1px solid;
    padding: 3px 3px 3px 4px;
    font-weight:bold;
    color: #184A8C;
    margin-bottom: -4px;
}
