/*
Original design: Daleri Single (v1.0 - June 01, 2010) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/daleri-single/
*/

/* Main containers */
body {padding:0; margin:0; font:76% verdana,tahoma,sans-serif; background:#1a1a1a url(/images/bodybg.jpg) top center no-repeat; color:#444; border-top:4px solid #444; text-align:center; line-height:1.5em;}
#wrap {width:760px; text-align:center; margin:0 auto;}
#maincontent {background:#fff; text-align:left; border:4px solid #666; padding:15px 15px 5px 15px; margin:0 0 15px 0;}
#message {background:#fff; text-align:left; border:4px solid #666; padding:5px 15px; margin:0 0 15px 0;}

/* HTML Tags */
a {text-decoration:none; font-weight:700; color:#e49938;}
a:hover {text-decoration:underline;}
a img {border:0;}
h1 {margin:15px auto 10px auto; padding:0; font-size:2.6em; color:#eee; letter-spacing:-2px; line-height:1.2em;}
h1 a {color:#eee; font-weight:700; text-decoration:none;}
h1 a:hover {color:#fff; text-decoration:none;}
h2 {margin:0 0 12px 0; padding:12px 6px 12px 15px; background:#23221E top center no-repeat; border-left:4px solid #e49938; color:#ddd; font-size:1.5em; font-weight:400;}
h2 a {font-weight:400;}
h3 {font-size:1.4em; font-weight:400; margin:0 0 10px 0;}
p {margin:0 0 15px 0;}
ul {margin:0 0 15px 20px; padding:0;}
li {margin:0; padding:0 0 0 5px;}


/* Various classes */
.slogan {color:#ccc; font-size:1.4em; margin:0 0 15px 0; padding:0;}
.toptabs {clear:both; font-size:1.4em; line-height:1.5em; color:#aaa; margin:0 0 15px 0;}
.toptab {padding:3px 10px 5px 10px; font-weight:400; margin:0 2px; color:#ccc;}
.toptab:hover {background-color:#444; color:#fff; text-decoration:none;}
.active {background-color:#444; color:#fff;}
.active:hover {background-color:#444; color:#fff;}
.bottomlinks, .bottomlinks a {text-align:center; color:#888; font-size:0.9em; font-weight:400; margin:5px auto;}
.footer, .footer a{color:#888; font-weight:400;}
.hide {display:none;}

#auth {
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Form classes */
.table-form {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.table-form .label {
    text-align: right;
    vertical-align: top;
}

.table-form .label.required {
    font-weight: bold;
}

.table-form input.text, .table-form input.password, .table-form textarea {
    width: 98%;
}

.table-form .submit {
    text-align: right;
}

.table-form .error {
    color: #f00;
    font-weight: bold;
    text-align: center;
}

.table-form .error ul {
    margin-bottom: 0px;
}

.table-form .error li {
    list-style-type: none;
}

.table-form label {
    display: block;
}