/* reset min code */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

/* html5 stuff */
header, footer, nav, article, section, aside {display:block;}

/* get rid of those system borders being generated for A tags */
a:active { outline:none; }

/* always show vertical scrollbar in firefox and ie8 */
html {overflow-y: scroll;}

/* default HTML tag code */

body, p, span, td {font: 1em "Cambria","Georgia","Times New Roman","Calibri",serif; color:#000;}

p {margin:10px 0px 10px 0px; }
html {overflow:-moz-scrollbars-vertical;} /* always show vertical scrollbar in firefox */
td {font-size:0.8em}
h1, h2, h3, h4, h5 {font-family: "Arial", sans-serif; text-transform:uppercase; color:#b2a07c;}
h1 {font-size:2em; font-weight:normal; margin-bottom:5px;}
h1 a:link, h1 a:visited, h1 a:active {color:#ff6600;}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {color:#cc6633;}
h2, h2 a:link, h2 a:visited, h2 a:active {text-transform:capitalize; font-size:1.6em; font-weight:normal; color:#ada17a; margin: 15px 0px 15px 0px;}
h3, h3 a:link, h3 a:visited, h3 a:active {font-size:1.4em; font-weight:normal; color: #555; margin: 10px 0px 10px 0px;}
h4, h4 a:link, h4 a:visited, h4 a:active {text-transform:capitalize; font-size:1.2em; font-weight:normal; color: #666; margin: 10px 0px 10px 0px;}
h1 a, h2 a, h3 a, h4 a {text-decoration:none;}
section {margin:0px 0px 15px 0px;}

/* misc styles */
.grey, .grey a:link, .grey a:active, .grey a:visited {color:#333}
.smallGrey {font-size:12px; color:#333;}
.statusMessage { font-size:14px; font-weight:bold; color:#ff6633; margin:5px; padding:5px 15px 5px 10px; margin:0px 0px 15px 0px; border:1px dashed #ff9966; }
.message {margin:10px 25px 5px 25px;}
.errorMessage { font-size:14px; font-weight:bold; color:#c71209; margin:5px; padding:5px; border:2px dashed #f00; }
.pleaseWait { font-size:14px; font-weight:bold; color:#f00; margin:5px; padding:5px; border:1px dashed #666; padding-left:25px; background: url(/images/indicator.gif) no-repeat 5px 5px; }
aside.controlRow {margin:2px 0px 2px 0px; padding:6px 2px 6px 2px; border-top:1px #ccc solid; border-bottom:1px #ccc solid;}
aside.controlRow ul {list-style-type:none; margin:0; padding:0;}
aside.controlRow li {display:inline; padding:0px 15px 0px 15px;}
aside.development {width:100%; text-align:center; margin-top:20px; font-size:2em; font-family: "Gotham", "Arial Narrow", "Arial", sans-serif; color:#f00; padding:5px; border-top:1px solid #555; border-bottom:1px solid #555; }

/* default form styles */
input[type="text"], input[type="password"], textarea {width:195px; font-size:14px; padding:5px; margin: 5px 2px 5px 2px; border:1px solid #CCCCCC; -moz-box-shadow:inset 0 0 10px 0px #eeeeee;}
input[type="button"], input[type="submit"] {font-size:14px; padding:5px; margin: 5px 2px 5px 2px;}
select {font-size:14px; padding:5px 20px 5px 5px; margin:5px 2px 5px 2px;}
textarea { width:100%; height:150px;}
input.date {width:150px;}
input.title {width:350px;}
input.tags {width:90%;}
.editFormContainer {padding:10px;}
input.metaField {width:100%;}
form.editForm label {display:block; padding:5px; height:17px; width:250px; float:left;}
form.editForm label.line {display:inline; width:auto; float:none;}
form.editForm textarea {width:100%; height:300px;}
form.editForm input[type="text"], form.editForm input[type="password"] {width:400px;}
form.editForm select {width:350px;}
form.editForm checkbox {width:10px; height:10px;}

/* default list styles */
ol, ul {margin:15px 15px 15px 40px;}
ol {}
ul {}
li {margin:5px 0px 5px 0px;}
ol.nostyle, ul.nostyle {list-style-type:none; margin:0; padding:0;}

/* default hr tyle */
hr {height:1px; width:100%; color:#b0a279;}

/* main body layout styles */
body {background-color:#f4f4f4;}
div#wrapper {
    width:970px;
    top:0px;
    margin: 0px auto 0px auto; /* top margin must match body background position */
    padding:0px 0px 0px 0px;
    overflow:hidden;
    background-color:#fff;
    background-image:url('/images/header-background-970x128-white.png');
    background-repeat:no-repeat;
}
div#mainContent {min-height:400px; margin:0px 20px 0px 20px;}
body {padding: 0px 0px 25px 0px; background-image:url('/images/background-1x600.png'); background-repeat:repeat-x; background-position:0px 0px;}
.small {font-size:0.9em; font-weight:lighter;}

/* header styles */
header {margin:0; height:140px;}
header img {margin:50px 0px 0px 30px; float:left;} /* position the logo image/link */
aside#loggedIn {
    font: 0.8em Arial Narrow, Arial, sans-serif; text-align:right; color:#777;
    height:12px; width:400px; float:right; border-top:1px solid #ccc;
}

/* footer styles */
footer {min-height:72px; padding:40px 10px 0px 10px; font: 11px Helvetica, Arial, sans-serif; color:#aaa58f;}
footer {background-position: 0 bottom; background-image:url('/images/background_footer.jpg'); background-repeat:no-repeat;}
footer img {}
footer ul li {width:auto; height:50px; float:left; display:block; padding-left:40px;}
footer ul li a:link, footer a:visited, footer ul li a:active {font-weight:normal; color:#aaa58f; text-decoration:none;}
footer ul li a:hover {color:#000; text-decoration:none;}
div#kohana-profiler {margin-top:20px;}

/* global menu */
nav#global {width:550px; height:12px; float:right; margin:35px 45px 20px 0px;}
nav#global ul {font-size:14px; text-transform: uppercase; letter-spacing:0.3px; color:#AAA271;}
/* moved to trialto_ie.css: nav#global ul {font: 12px Arial Narrow, Arial, sans-serif; text-transform: uppercase; letter-spacing:0px; color:#AAA271;} */
nav#global ul {padding:0; margin:0; list-style-type:none; float:right;}
nav#global ul li {float:left; width:auto; position:relative; padding:0; vertical-align:text-bottom;}
nav#global ul li a {padding-right:10px; padding-left:10px; border-right:1px solid #333; color:#b2a576;}
nav#global ul li.last {padding-left:5px;}
nav#global ul li.last a {padding:0; border:0;}
nav#global ul li a:link, nav ul li a:visited, nav ul li a:active {font-weight:normal; color:#AAA271; text-decoration:none;}
nav#global ul li a:hover {color:#000; text-decoration:none;}

/* primary menu */
nav#primary {width:660px; height:47px; float:right; margin:11px 20px 0px 0px;}
nav#primary ul {font: 18px Gotham, Arial Narrow, Arial, sans-serif; text-transform: uppercase; letter-spacing:0.4px; color:#9B9160;}
/* moved to trialto_ie.css: nav#primary ul {font: 14px Arial Narrow, Arial, sans-serif; text-transform: uppercase; letter-spacing:0px; color:#9B9160;} */
nav#primary ul {padding:0; margin:0; list-style-type:none; float:right;}
nav#primary ul li {float:left; width:auto; height:37px; vertical-align:top;}
nav#primary ul li a {padding-right:20px; padding-left:20px; color:#b1b0ab;}
nav#primary ul li.last {}
nav#primary ul li.last a {}
nav#primary ul li a:link, nav ul li a:visited, nav ul li a:active {font-weight:normal; color:#b1b0ab; text-decoration:none;}
nav#primary ul li a:hover {color:#9B9160; text-decoration:none;}
nav#primary ul li:hover {background-position:0 20px;}
/* default colour bars under menu text vertical position of 27 is inactive, 20 is active */
nav#primary li {background-position:0 27px; background-repeat:repeat-x;}
nav#primary li.portfolio {background-image:url('/images/news_menu_back-1x100.png'); }
nav#primary li.about {background-image:url('/images/ourwineries_menu_back-1x100.png');}
nav#primary li.news {background-image:url('/images/about_menu_back-1x100.png');}
nav#primary li.liquidart {background-image:url('/images/news_menu_back-1x100.png');}
nav#primary li.contact {background-image:url('/images/contact_menu_back-1x100.png');}
/* highlight current section */
body.s_liquidart nav#primary li.liquidart, body.s_portfolio nav#primary li.portfolio, body.s_about nav#primary li.about, body.s_news nav#primary li.news, body.s_contact nav#primary li.contact {background-position:0 20px;}
body.s_liquidart nav#primary li.liquidart a, body.s_portfolio nav#primary li.portfolio a, body.s_about nav#primary li.about a, body.s_news nav#primary li.news a, body.s_contact nav#primary li.contact a {color:#9B9160;}
/* hide home links on home page */
body#home .homeLink {display:none;}

/* secondary menu */
nav.secondary {float:left; width:170px; margin:0px 10px -32767px 30px; padding: 0px 0px 32767px 0px;}  /* 32767px to maintain columns */
nav.secondary ul {padding:0; margin:0; list-style-type:none; }
nav.secondary ul li {width:140px; height:23px; position:relative; padding-left:15px; padding-top:7px;}
nav.secondary ul li a {text-transform:capitalize; font:12px Arial, sans-serif; font-weight:bold; letter-spacing:0px;}
nav.secondary ul li a:link, nav ul li a:visited, nav ul li a:active {font-weight:normal; color:#95948F; text-decoration:none;}
nav.secondary ul li a:hover {color:#000; text-decoration:none;}
nav.secondary ul li.active { border-top:1px solid #a18857; border-bottom:1px solid #a18857; background-color:#b0a279;} /* highlight the active page in the menu, set using jquery in onload section */
nav.secondary ul li.active a {color:#fff; }

nav.secondary ul.shortcut {margin-left:0px; }
nav.secondary ul.shortcut li {width:auto; height:auto; padding:2px;}
nav.secondary ul.shortcut li a {color:#996600;}

/* secondary menu language switcher */
.language {color: #d7d2bc;}
.language a:link, .languageSwitch a:visited, .languageSwitch a:active {color:#ffff99; text-decoration:underline;}
.language a:hover {color:#fff; text-decoration:underline;}
/*li.languageSwitch {font: 0.7em Arial, Helvetica, sans-serif; margin-left:75px; border-right:none;}*/

/* standard subpage layout */
.subpagecontent {min-height:500px; margin:0px 30px -32767px 210px; padding-bottom:32767px;}

/* claero content admin stuff */
table#claeroEdit {width:600px;}
table#claeroContent th.column0, table#claeroContent td.column0 {width:100px;}
div.tableMenu {margin:0px 20px 0px 20px;}
form#claeroForm {width:600px; margin:15px; padding:15px; border:1px dashed #ccc;}
form#claeroForm input,form#claeroForm select {width:auto;}
form#claeroForm textarea {width:90%; height:150px;}